/*============Google fonts===========*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body, html{
    margin: 0;
    height: 100%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--white);
    color: var(--black);
}

:root{
    --white:white;
    --black:black;
}

.darkMode{
    --white:black;
    --black:white;
}

a{
    text-decoration: none;
    color: black;
}

.fa-moon{
    cursor: pointer;
    color: var(--black);
}

nav a{
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.3s ease all;
}

nav ul li a:hover {
    background-color: rebeccapurple;
    color: white;
}

/*-----------Navbar---------*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width:100%;
    z-index: 1;
    height: 13vh;
    transition: 0.3s all;
}

.navScrolling{
    background-color: var(--white);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.1);
    height: 9vh;
 }

.righSideNav{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width: 50%;
}

.logo{
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Kaushan Script', cursive;
}

.logo span{
    color: blueviolet;
    font-size: 50px;
    font-weight: bold;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

nav ul li{
   list-style-type: none;
}

nav a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
 }

 /*-----------Home Section---------*/

 .homeContainer{
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 8%;
    scroll-margin: 200px;
}

.topImg{
    /*background-image: url("../Pictures/img3.png");*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.topImg img{
border-radius: 100%;
height: 30%;
width: 30%;
border: 5px solid blueviolet;
}

.middleImg{
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomImg{
    background-color: var(--white);
    min-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin: 50px;
    color: var(--black);
}

/*========About Section======*/

.bottomImg .aboutMeImage{
    width:670px;
    height: 560px;
    background-image: url("../Pictures/aboutMeImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aboutDetails{
    padding: 10px;
    margin-left: 30px;
    width: 35%;
}

.aboutMainSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skillType{
    margin: 15px 0;
    color: rebeccapurple;
}

.skills li{
    font-size: 16px;
    margin: 10px 0;
}

.aboutHeader{
    font-size: 14px;
}

.topImg, .middleImg, .bottomImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.section{
    text-align: center;
    padding: 20px 20px;
    scroll-margin: 72px;
}

.section-light{
    color: #0E092B;
}

.section-dark{
    background-color: var(--black);
    color: var(--black);
    background-color: var(--white);
}


.topImg .pText{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.topImg p{
    font-size: 14px;
    line-height: 20px;
}

.topImg .p1{
    margin-top: 3px;
}

.topImg h1{
    margin-bottom: 0;
}

.topImg button{
    padding: 12px 0;
    width: 30%;
    margin-top: 10px;
    background-color: blueviolet;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s background-color;
    color: white;
}

.topImg button:hover{
    background-color: rgb(116, 34, 193);
}

.scrollContainer{
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 130px;
 margin-left: 14%;
 cursor: pointer;
 color: var(--black);
}

.scrollContainer .mouse{
    width: 25px;
    height: 40px;
    background-color: rebeccapurple;
    border-radius: 8px;
    position: relative;
}

.scrollContainer i{
    font-size: 25px;
    color: rebeccapurple;
}

.mouse::after{
    content: '';
    width: 8px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: 35%;
    right: 35%;
    border-radius:5px;
    animation:scrolling 1.3s infinite;
}

@keyframes scrolling{
    0%{
        height: 16px;
    }
    50%{
        top: 42%;
        height: 18px;
    }
}


/*-----------Hamburger Menu---------*/

.hambugerMenu{
    width: 34px;
    height: 25px;
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hambugerMenu .line{
    width: 100%;
    height: 5px;
    background-color: var(--black);
}

 /*-----------My Projects---------*/

 .projects{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
 }

 .project{
    background-color: white;
    color: black;
    height: 320px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 6px 40px 0 rgba(0,0,0,.6);
 }

 .project button{
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    color: white;
 }

 .projectsHeading{
    color: var(--black);
 }

 .projectBg1{
    background-image: url("../Pictures/bg1.png");
 }

 .projectBg2{
    background-image: url("../Pictures/img2.png");
 }

 .projectBg3{
    background-image: url("../Pictures/img1.png");
 }

 .projectBg4{
    background-image: url("../Pictures/img3.png");
 }

 .projectBg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }

 .projectDescription {
    font-size: 12px;
    align-self: flex-start;
    padding: 0 16px;
 }

 @media screen and (max-width: 1200px){
    .homeContainer{
        margin-top: 15%;
    }

    .topImg img{
        width: 350px;
    }

    .bottomImg .aboutMeImage{
        width:500px;
        height: 450px;
    } 

    .aboutDetails{
        margin-left: 10px;
        width: 30%;
    }

    .skillType{
        margin: 5px 0;
    }
    
    .skills li{
        font-size: 13px;
        margin: 8px 0;
    }
 }

 @media screen and (max-width: 1164px){
    .homeContainer h1{
        font-size: 30px;
    }

    .topImg img{
        width: 400px;
    }

    .topImg span{
        width: 350px;
    }
 }

 @media screen and (max-width: 1140px) {
    
     .project{
        background-color: var(--white);
        height: 280px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        padding-bottom: 10px;
        color: var(--black);
     }
    
     .project button{
        width: 160px;
     }
    
     .projectBg{
        height: 280px;
        width: 300px;
     }
    
     .projectDescription {
        font-size: 10px;
     }

  }

  @media screen and (max-width: 930px){
    nav .logo{
        color: var(--black);
    }

    nav ul{
         display: none;
         flex-direction: column;
         justify-content: start;
         gap: 15%;
         position: absolute;
         top: 8vh;
         background-color: rebeccapurple;
         padding:0;
         width: 100%;
         right: 0;
         left: 0;
         height: 100vh;
         padding-top: 80px;
    }

    nav a{
        color: white;
    }

    nav .darkModeIcon{
        color: white;
    }

    .navScrolling ul{
        top: 6.1vh;
    }

    .hambugerMenu{
        display: flex;
    }

    .navActive ul{
        display: flex;
    }

    .line{
        transition: 0.3s ease;
        border-radius: 2px;
    }

    .line2{
        opacity: 1;
    }

    .navActive .line1{
        transform: rotate(45deg) translateX(7px) translateY(7px);
    }

    .navActive .line2{
        transform: translateX(30px);
        opacity: 0;
    }

    .navActive .line3{
        transform: rotate(-45deg) translateX(6px) translateY(-5px);
    }

    .pText button{
        width: 120px;
    }

    .topImg{
        flex-direction: column;
    }

    .topImg img{
        width: 300px;
    }

    .scrollContainer{
        margin-left: 5%;
    }
  }

  @media screen and (max-width: 942px){

    .projects{
        flex-direction: column;
        gap: 50px;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    } 

    .middleImg{
        min-height: 100%;
    }

    .project{
        width: 90%;
        height: 400px;
    } 

    .projectBg{
        height: 400px;
        width: 100%;
     }

     .projectDescription {
        font-size: 15px;
     }
    
  }


  @media screen and (max-width: 800px){
    .homeContainer{
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .topImg{
        flex-direction: column;
    }

    .topImg span{
        text-align: center;
    }

    .topImg img{
        width: 300px;
    }

    .topImg h1{
        font-size: 30px;
    }

    .pText{
        align-items: center;
    }

    .scrollContainer{
      margin: 0;
    }

    .bottomImg .aboutMeImage{
        width:400px;
        height: 400px;
    } 

    .aboutDetails{
        margin-left: 0;
        width: 30%;
    }

    .skillType{
        font-size: 18px;
    }
    
    .skills li{
        font-size: 13px;
        margin: 8px 0;
    }
  }

  @media screen and (max-width: 670px){
    .pText span p{
        font-size: 12px;
    }
  }

  @media screen and (max-width: 650px){
    .aboutMainSection{
        flex-direction: column;
    }

    .aboutDetails{
        width: 70%;
    }

  }

  @media screen and (max-width: 490px){
   .homeContainer{
    margin-top: 26%;
   }

    .pText span p{
        font-size: 14px;
    }

    .pText button{
        width: 100px;
    }

    .topImg span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
    }

    .topImg img{
        width: 150px;
    }

    .bottomImg .aboutMeImage{
        width:300px;
        height: 300px;
    } 

  }


  @media screen and (max-width: 430px){
    .homeContainer{
        margin-top: 40%;
       }

    .topImg span{
        align-items: center;
    }

    .pText span p{
        font-size: 14px;
    }

    .jobDescription{
        text-align: start;
        margin-left: 12%;
    }

    #projects h2{
        font-size: 20px;
    }
  }
